/* Кнопки */
.cp-btn,
.cp-btn-accent,
.cp-btn-prime,
.cp-btn-danger,
.cp-btn-warning,
.cp-btn-success {
    display: block;
    padding: 5px 8px;
    min-width: auto;
    color: #e2e2e2;
    background: #1e2124;
    border: 1px solid #42484e;
    border-radius: 0px;
    transition: .3s;
    cursor: pointer;
}

.cp-btn:hover {
    background: #343a3f;
}

.cp-btn-accent {
    background: #5a3806;
    border: 1px solid #8a5609;
}

.cp-btn-accent:hover {
    background: #724708;
}

.cp-btn-prime {
    background: #0f304d;
    border: 1px solid #4c4c7d;
}

.cp-btn-prime:hover {
    background: #194e7c;
}

.cp-btn-danger {
    background: #d9534f;
    border: 1px solid #e7908e;
}

.cp-btn-danger:hover {
    background: #ff625d;
}

.cp-btn-warning {
    background: #c45f00;
    border: 1px solid #ff8512;
}

.cp-btn-warning:hover {
    background: #eb7200;
}

.cp-btn-success {
    background: #309630;
    border: 1px solid #4dc64d;
}

.cp-btn-success:hover {
    background: #3bb63b;
}

/* Ссылки и кнопки удаления */

.cp-icon,
.cp-icon-opacity {
    background: none;
    border: none;
    cursor: pointer;
    height: auto;
    width: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.cp-icon-opacity {
    opacity: .3;
    transition: .3s;
}

.cp-icon-opacity:hover {
    opacity: 1;
}


.cp-link {
    text-decoration: none;
    color: #a38b63;
    transition: .3s;
}

.cp-link:hover {
    color: #e9cf9f;
    text-decoration: none;
}

*[data-tooltip] {
    position: relative;
    z-index: 999;
}

*[data-tooltip]::after {
    position: absolute;
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    /* display: none; */
    pointer-events: none;

    width: max-content;
    max-width: 200px;
    padding: 8px 13px;
    bottom: calc(100% + 3px);
    transform: translateX(-50%);
    left: 50%;

    background-color: var(--dark, #0e0e0e);
    border: solid 1px var(--second);
    color: #585858;

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    /* transition: opacity .3s; */
}

*[data-tooltip]:hover::after,
*[data-tooltip]:focus::after {
    visibility: visible;
    opacity: 1;
    /* display: block; */
}

/* .custom-tooltip {
  position: absolute;
  background-color: black;
  color: #a38b63;
  padding: 5px 8px;
  font-size: 13px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  display: none;
} */