<div class="bookmarks-container">
    <div class="tree-view" id="folders-container">
        
        <div class="tree-folder">
            <div class="tree-item">
                <img class="tree-item-icon" width="18" height="18"
                    src="https://img.icons8.com/material/18/FFFFFF/folder-invoices.png" alt="folder-invoices" />
    
                <p class="tree-item-title cp-link">Path of Exile</p>
    
                <div class="tree-item-tools">
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/export.png"/></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/import.png"/></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/restore-page.png"/></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/rename.png"/></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/broom.png"/></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/delete-forever.png" /></button>
                    <button class="cp-icon-opacity"><img width="18" height="18"
                            src="https://img.icons8.com/material/18/FFFFFF/plus--v1.png"/></button>
                </div>
            </div>
    
            <div class="tree-list">
                <div class="tree-item bookmarks-link">
                    <a href="" class="tree-item-title cp-link">link</a>
    
                    <div class="tree-item-tools">
                        <button class="cp-icon-opacity"><img width="18" height="18"
                                src="https://img.icons8.com/material/18/FFFFFF/share.png" alt="share" /></button>
                        <button class="cp-icon-opacity"><img width="18" height="18"
                                src="https://img.icons8.com/material/18/FFFFFF/rename.png" alt="rename" /></button>
                        <button class="cp-icon-opacity"><img width="18" height="18"
                                src="https://img.icons8.com/material/18/FFFFFF/replace.png"
                                alt="replace" /></button>
                        <button class="cp-icon-opacity"><img width="18" height="18"
                                src="https://img.icons8.com/material/18/FFFFFF/delete-forever.png"
                                alt="delete" /></button>
                                <button class="cp-icon-opacity"><img width="18" height="18"
                                        src="https://img.icons8.com/material/18/FFFFFF/external-link.png" alt="external-link" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bookmarks-toolbar">
        <div class="bookmarks-migrate">
            <button id="folder-export" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material/18/FFFFFF/export.png" class="cp-icon" />
            </button>
    
            <button id="folder-input" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material/18/FFFFFF/import.png" class="cp-icon" />
            </button>
    
            <button id="folder-restore" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material/18/FFFFFF/restore-page.png" class="cp-icon" />
            </button>
    
            <button id="folder-clear" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material/18/FFFFFF/broom.png" class="cp-icon" />
            </button>
        </div>
    
        <div class="bookmarks-folders">
            <button id="folder-collapse" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material-rounded/18/FFFFFF/folder-invoices.png" class="cp-icon" />
            </button>
            
            <button id="folder-expand" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material-rounded/18/FFFFFF/opened-folder.png" class="cp-icon" />
            </button>
            
            <button id="folder-add" class="cp-icon-opacity">
                <img src="https://img.icons8.com/material/18/FFFFFF/doctors-folder.png" class="cp-icon" />
            </button>
        </div>
    </div>
</div>