<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel="stylesheet" href="../css/popup.css">
</head>

<body>
    <div>
        <h1 class="poe-font-header">PoeExtension</h1>
        <p>Браузерное расширение для сайтов Path of Exile</p>
    </div>

    <nav>
        <a href="https://custompoe.ru" class="decor-link" target="_blank" rel="noopener noreferrer">Сайт</a>
        <a href="https://ru.pathofexile.com/forum/view-thread/3703253" class="decor-link" target="_blank"
            rel="noopener noreferrer">Форум</a>
        <a href="https://github.com/BeardedMark/PoeExtension" class="decor-link" target="_blank"
            rel="noopener noreferrer">GitHub</a>
    </nav>

    <div class="settings-tree">
        <details>
            <summary>Основные функции</summary>

            <div>
                <label class="poe-checkbox" for="bookmarks">
                    <input class="checkbox-options" type="checkbox" id="bookmarks" name="bookmarks">
                    Закладки фильтров
                </label>

                <label class="poe-checkbox" for="statmarker">
                    <input class="checkbox-options" type="checkbox" id="statmarker" name="statmarker">
                    Подсветка искомых свойств
                </label>

                <label class="poe-checkbox" for="cleanStat">
                    <input class="checkbox-options" type="checkbox" id="cleanStat" name="cleanStat">
                    Очистка значений свойств
                </label>

                <label class="poe-checkbox" for="statRarity">
                    <input class="checkbox-options" type="checkbox" id="statRarity" name="statRarity">
                    Визуализация уровня свойств предмета
                </label>

                <label class="poe-checkbox" for="charName">
                    <input class="checkbox-options" type="checkbox" id="charName" name="charName">
                    Добавить имя игрового персонажа
                </label>
            </div>
        </details>

        <details>
            <summary>Изменения интерфейса</summary>

            <div>
                <label class="poe-checkbox" for="propIcons">
                    <input class="checkbox-options" type="checkbox" id="propIcons" name="propIcons">
                    Иконки показателей атаки/защиты
                </label>

                <label class="poe-checkbox" for="iconButton">
                    <input class="checkbox-options" type="checkbox" id="iconButton" name="iconButton">
                    Иконки кнопок действий
                </label>

                <label class="poe-checkbox" for="fixedHeader">
                    <input class="checkbox-options" type="checkbox" id="fixedHeader" name="fixedHeader">
                    Зафиксировать поиск
                </label>

                <label class="poe-checkbox" for="minHeader">
                    <input class="checkbox-options" type="checkbox" id="minHeader" name="minHeader">
                    Компактная шапка сайта
                </label>
                
                <label class="poe-checkbox" for="profileName">
                    <input class="checkbox-options" type="checkbox" id="profileName" name="profileName">
                    Вынесение ссылки на профиль
                </label>

                <label class="poe-checkbox" for="updateUi">
                    <input class="checkbox-options" type="checkbox" id="updateUi" name="updateUi">
                    Исправление ошибок интерфейса
                </label>
            </div>
        </details>

        <details>
            <summary class="font-size-md font-color-accent cursor-pointer">Данные расширения</summary>

            <div class="flex-col-8 mar-t-8 pad-l-8">
                <p class="font-size-sm font-color-second">Хранилище персональных значений и переменных</p>
                <div class="flex-row-8 flex-jc-between">
                    <button id="exportStorage" class="decor-btn">Экспорт</button>
                    <button id="importStorage" class="decor-btn">Импорт</button>
                    <button id="clearStorage" class="decor-btn font-color-danger">Очистить</button>

                    <input type="file" id="importFile" style="display: none;" accept=".json">
                </div>

            </div>
        </details>
    </div>

        <div>
            <p class="poe-font-second">Обновите страницу для применения настроек</p>
        </div>
    <script src="../js/popup.js"></script>
</body>

</html>